@keyframes border {
    0%, 100% {
      -webkit-clip-path: polygon(0 0, calc(100% - (0.5rem)) calc(0% + (0.5rem)), 100% 100%, calc(0% + (0.5rem)) calc(100% - (0.5rem)));
              clip-path: polygon(0 0, calc(100% - (0.5rem)) calc(0% + (0.5rem)), 100% 100%, calc(0% + (0.5rem)) calc(100% - (0.5rem)));
    }
    50% {
      -webkit-clip-path: polygon(calc(0% + (0.5rem)) calc(0% + (0.5rem)), 100% 0, calc(100% - (0.5rem)) calc(100% - (0.5rem)), 0 100%);
              clip-path: polygon(calc(0% + (0.5rem)) calc(0% + (0.5rem)), 100% 0, calc(100% - (0.5rem)) calc(100% - (0.5rem)), 0 100%);
    }
  }

.aboutus {
    // h1 {
    //     color: $darkblue !important;
    // }
    // h2 {
    //     color: $rosered !important;
    // }

    background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1)), url('../assets/img/mission.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @extend .hero;


    .hero-text {
        padding-top: 3rem;
        padding-bottom: 3rem;
        background: rgba(6, 73, 175, 0.4);
        border-radius: 3rem;
    }
    .title {
        color: $yellow-light;
    }
    .subtitle {
        color: $white;
    }
    strong {
        color: $orange!important;
    }
    .column {
        padding: 3rem;
        position: relative;
        box-shadow: 10px 10px 42px 0 rgba(0,0,0,0.75);
        }

}
