/* Rounded border */
hr.rounded {
  // border-top: 2px solid #bbb;
  border-top: 2px solid $orange;
  border-radius: 5px;
  width: 50%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto
}

.heading {
  padding-bottom: 1rem;
  &:hover {
      i {
          color: $orange;
          font-size: 5rem;
      }
  }
}

#scrollBtn{
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 1rem; /* Place the button at the bottom of the page */
  right: 1rem; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  color: $orange; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 1rem; /* Some padding */
  font-size: 1.5rem; /* Increase font size */
  &:hover{
      color: $blue;
  }
}

@media screen and (max-width: 768px) {
    hr.rounded {
        width: 75%;
      }

}

@media only screen and (max-width: 1024px) {
  #scrollBtn{
    bottom: 10px; /* Place the button at the bottom of the page */
    right: 10px; /* Place the button 30px from the right */
    padding: 5px;
    font-size: 1rem; /* Increase font size */
  }
}