$white: #ffffff;
$rosered: #ff033e;
$danger: #cd001a;
$darkblue: #000f52;
// $lightblue: #abd7e6;
$lightblue: #8bd3e6;
$green-medium: #009846;
$blue: #0649af;
$darkorange: rgb(255, 51, 0);
$orange-light:#FFC600;
$orange: hsl(24, 100%, 50%);
$green: #00A859;
$lightorange: hsl(24, 100%, 90%);
$primary: $blue;
$blue-invert: #fff;
$shadow: rgba(0,0,0,.5);
$primary: $blue;
$warning: $orange;
$success: $green;
$primary-invert: $blue-invert;