@keyframes animateHeart {
    // scale down and scale up faster in irregular intervals to get the throbbing effect
    0% {
      transform: scale(1);
    }
    5% {
      transform: scale(1.2);
    }
    10% {
      transform: scale(1);
    }
    15% {
      transform: scale(1.5);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }
@-webkit-keyframes animateHeart {
    // scale down and scale up faster in irregular intervals to get the throbbing effect
    0% {
      transform: scale(1);
    }
    5% {
      transform: scale(1.2);
    }
    10% {
      transform: scale(1);
    }
    15% {
      transform: scale(1.5);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }

$footer-padding: 2rem;
// $footer-color: $white-ter;
// $footer-background-color:$white-ter;

.footer {
    background-color: $darkblue!important;
    .copyright {
        p {
            color: $white;
            padding-top: 1rem;
        }
    }
    .social {
        padding-top: 3rem;

        p {
            font-weight: 600;
            color: $orange;
        }

        i {
            color: $yellow-light;
            padding-bottom: 5px;
        }
    }
    .column {
        &:hover{
            .fab{
                font-size:1.7rem;
                color: $orange;
                // transition: 1s ease-out;
            }
        }
    }

    .company {
        color: $orange;
    }
    .heart {
        color: $rosered;
        // animation: <animation-name> <animation-duration> <animation-iteration-count>
        animation: animateHeart 1.5s infinite;
        animation-timing-function: ease;
    }

}